<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7200.0" authCookieName=".SFAUTH-SuccessStories" rolesCookieName=".SFROLES-SuccessStories" validationKey="D46CC3CEF3DB5BF23EA3AE14333BDD2BDC2D94F6996FD8700A1C43CB0AAB97A782AE88C880F05FDF696D21181DF83383FCD0DB2EC79CA8B10978358F79E4B92D" decryptionKey="885FEDD211976DCC42C2827ED3C1C72456C03715C044492882982D8D5A0725EB" loggingCookieName=".SFLOG-SuccessStories">
	<securityTokenIssuers>
		<add key="0DE63B6DA8E613F896DCDC15863F1E57B4AB0EFCAF0521D386994554934D4AB3" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="0DE63B6DA8E613F896DCDC15863F1E57B4AB0EFCAF0521D386994554934D4AB3" realm="http://localhost" />
	</relyingParties>
</securityConfig>